/* Layout rules divide the page into sections, and hold one or more modules together. They only define the layout, not color or typography. */



/***************************************HEADER***************************/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
}
.header-first-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-second-part ul{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;  
}


/**************************************************Announce******************************/
.announce{
    display: flex;
    justify-content: center;
    position: relative;
}

/*********************************************leading-article*****************************/
.leading-article{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}


/********************************************UDLAND***********************************/
.udland{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 5vh 22vw;
    height: 80vh;
}
.udland-first-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}


.header-first-part div:first-child{
    display: flex;
    flex-direction: row;
}


.udland-second-part{
    position: relative;
}
.udland-second-part div:nth-child(1){
    display: flex;
    flex-direction: row;
}


.social-media{
    position: absolute;
    top: 30px;
    left: 29vw;
    display: flex;
    flex-direction: row;
    gap: 3px;
    
}

.topic{
    position: absolute;
    bottom: 40vh;
}

.log-in{
    position: absolute;
    top: 60vh;
}



/************************************************ARTICLES************************************/
.articles{
    display: grid;
    grid: auto/repeat(4, 1fr);
    position: relative;
}


.articles-div{
    grid-column: 4/ -1;
    grid-row: 1/ span 1;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.article-1{
    grid-column: 1/ span 1;
    grid-row: 2/3;
}

.article-2{
    
    grid-column: 2/ span 1 ;
    grid-row: 2/3;

}

.article-3{
    grid-column: 3/ span 1 ;
    grid-row: 2/3;
}

.article-4{
    grid-column: 4/-1;
    grid-row: 2/3;
} 



/********************************************ABONNEMENT********************************/
.abonnement{
    position: relative;
}
.last-news{
    width: 30%;
}

 

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.article-11{
    position: absolute;
    top: 15vh;
    left: 17vw;
}
.article-12{
    position: absolute;
    top: 15vh;
    left: 30vw;
}
.article-13{
    position: absolute;
    top: 15vh;
    left: 42vw;
}

.article-14{
    position: absolute;
    top: 50vh;
    left: 17vw;
}
.article-15{
    position: absolute;
    top: 50vh;
    left: 30vw;
}
.article-16{
    position: absolute;
    top: 50vh;
    left: 42vw;
}
.information-dk{
    position: absolute;
    top: 0;
    left: 45vw;
}
.information-arrow{
    position: absolute;
    top: 7vh;
    left: 17vw;
}



/*****************************************COMMENTS***************************/
.comments{
    display: flex;  
}


